.Mohawk-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Gremlins {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Hidden {
  display: none;
}

